<div id="question-overlay">

    <div id="question-card">

        <h2 id="instruction">
            Instruction
        </h2>

        <div id="question-box">
            <img id="question-image" hidden>
        </div>

        <div id="answer-box">
            Answer Here
        </div>

        <div id="question-buttons">

            <button id="correct-btn"
                    type="button"
                    class="btn btn-success image-btn game-button"
                    aria-label="Mark answer correct">
            </button>

            <button id="show-answer-btn"
                    type="button"
                    class="btn btn-outline-light image-btn game-button">
                Show Answer
            </button>

            <button id="incorrect-btn"
                    type="button"
                    class="btn btn-danger image-btn game-button"
                    aria-label="Mark answer incorrect">
            </button>

        </div>

    </div>
</div>